@model Int32?
@using WebDenunciaSSP.CommonLibs.Helper
@{
    EditorTemplateConfiguration config = new EditorTemplateConfiguration(ViewData);

    string modelName = config.ModelName;
    string fieldName = config.FieldName;
    string fieldId = config.FieldId;

    //Default name for forms
    string FormEntityModel = config.Form;
    string TemplateName = modelName + fieldName + ".html";
    bool hasValidation = ViewData.ModelMetadata.IsRequired;
}
<div class="form-group @ViewData["cssclass"]">    
    <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input class="form-control"               
               id="@fieldId"
               name="@fieldName"
               ng-model="@fieldId"
               ng-init="@fieldId=@("'" + ViewData.Model + "'")"
               type="hidden"
               value="@ViewData.Model"/>        
    </div>
</div>